/* Add your product-related CSS styling here */
* {
    -fx-font-family: "Arial Rounded MT Bold";
}

.add-product-card {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-background-color: #dcedc8; /* Light green background */
    -fx-background-radius: 20;
    -fx-background-insets: 0 0 10 0, 0 0 0 0;
    -fx-max-width: 900;
}

.add-product-card:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.card-title {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-margin-bottom: 10;
    -fx-text-fill: #4caf50; /* Dark green text */
}

.input-field Label {
    -fx-font-size: 19;
    -fx-font-weight: bold;
    -fx-text-fill: #4caf50;
}

.input-field TextField,
DatePicker {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 20;
    -fx-border-color: none;
    -fx-border-radius: 4;
    -fx-background-color: #aed581; /* Lighter green background */
}

.input-field RadioButton {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 20;
    -fx-border-radius: 3;
    -fx-text-fill: #4caf50;
}

Button,
.orangebtn,
.searchBtnStyle {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 10;
    -fx-background-radius: 20;
    -fx-background-color: #4caf50; /* Dark green background */
    -fx-border-color: #388e3c; /* Darker green border color */
}

Button:hover,
.searchBtnStyle:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: scale 0.7s;
    -fx-animation-name: translateXAnimation;
    -fx-animation-duration: 0.3s;
    -fx-animation-fill-mode: forwards;
}

#submitField {
    -fx-alignment: center;
}

.TextArea {
    -fx-pref-width: 200;
    -fx-pref-height: 30;
    -fx-font-size: 20;
    -fx-border-radius: 4;
    -fx-background-color: #aed581;
    -fx-control-inner-background: #aed581;
}

.search-field {
    -fx-background-color: #4caf50;
    -fx-border-color: none;
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-padding: 8 10;
    -fx-text-fill: #ffffff;
}

.label-style {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

.search-field .text-input {
    -fx-prompt-text-fill: white;
    -fx-font-size: 18;
}

.UpperSectionBtn {
    -fx-border-radius: 50;
}

#searchBtn {
    -fx-border-color: none;
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/* Add more styling as needed */
